<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EtütTakipSistemiAN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    
    <connectionStrings>
        <add name="EtütTakipSistemiAN.Properties.Settings.etütsistemiConnectionString"
            connectionString="Data Source=AYLINMERCAN\USERS;Initial Catalog=etütsistemi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EtütTakipSistemiAN.Properties.Settings>
            <setting name="Eposta" serializeAs="String">
                <value />
            </setting>
            <setting name="Remember" serializeAs="String">
                <value>False</value>
            </setting>
        </EtütTakipSistemiAN.Properties.Settings>
    </userSettings>
</configuration>